<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ asset('bundles/frontend/images/image6_carousel_1600x600.jpg', absolute=true) }}" alt="First slide" />
      <div class="container">
        <div class="carousel-caption">
          <h1>Piergiorgio Pili</h1>
          <p>{% trans %}Web developer{% endtrans %}</p>
          <p><a class="btn btn-lg btn-primary" href="#260832002" role="button">{% trans %}Read more{% endtrans %}</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="{{ asset('bundles/frontend/images/image7_carousel_1600x600.jpg', absolute=true) }}" alt="Second slide" />
      <div class="container">
        <div class="carousel-caption">
          <h1 class="text-info">Piergiorgio Pili</h1>
          <p class="text-info">{% trans %}Travel consultant{% endtrans %}</p>
          <p><a class="btn btn-lg btn-primary" href="#432656408" role="button">{% trans %}Read more{% endtrans %}</a></p>
        </div>
      </div>
    </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->  