<div class="col-md-6">
  <h2>Find me on Linkedin</h2>
  <p>
    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/piergiorgiopili" data-format="inline" data-related="false"></script>
  </p>
</div>