/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Feb-2015, 13:54:38
    Author     : PRG
*/

body {
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  color: #1a3b80;
}
#container {
  padding: 28px 14px;
}
table {
  border-spacing: 0;
  border-collapse: collapse !important;
}
table td {
  text-align: right;
  padding-right: 3px;
}
table th {
  font-size: small;
}
table, th, td {
  border: 1px solid #888;
}
td.red {
  color: red;
}
td.green {
  color: green;
  font-weight: bold;
}

